
<% @employees.each do |employee| %>
  <%= "#{employee.name} id: #{employee.id}" %></br>
<% end %>

<%= form_for(@paycheck) do |f| %>
  <% if @paycheck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paycheck.errors.count, "error") %> prohibited this paycheck from being saved:</h2>

      <ul>
      <% @paycheck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Employee ID" %><br>
    <%= f.number_field :employee_id %>
  </div>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :total_hours_worked %><br>
    <%= f.text_field :total_hours_worked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>