<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @employee.wage %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @employee.marital_status %>
</p>

<p>
  <strong>Fica:</strong>
  <%= @employee.fica %>
</p>

<p>
  <strong>Fwh:</strong>
  <%= @employee.fwh %>
</p>

<p>
  <strong>Swh:</strong>
  <%= @employee.swh %>
</p>

<% if @employee.paychecks.any? %>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-1">
      <strong>Start Date</strong>
    </div>
    <div class="col-md-1">
      <strong>End Date</strong>
    </div>
    <div class="col-md-1">
      <strong>Total Hours</strong>
    </div>
    <div class="col-md-1">
      <strong>Gross Wages</strong>
    </div>
    <div class="col-md-1">
      <strong>Fica Deduction</strong>
    </div>
    <div class="col-md-1">
      <strong>FWH Deduction</strong>
    </div>
    <div class="col-md-1">
      <strong>FWH Fixed</strong>
    </div>
    <div class="col-md-1">
      <strong>SWH Deduction</strong>
    </div>
    <div class="col-md-2">
      <strong>Total Deductions</strong>
    </div>
    <div class="col-md-1">
      <strong>Net Wages</strong>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-1">
      <%= @employee.paychecks.last.start_date %>
    </div>
    <div class="col-md-1">
      <%= @employee.paychecks.last.end_date %>
    </div>
    <div class="col-md-1">
      <%= @employee.paychecks.last.total_hours_worked %>
    </div>
    <div class="col-md-1">
      <%= @employee.paychecks.last.gross_wages %>
    </div>
    <div class="col-md-1">
      <%= @employee.paychecks.last.fica_deduction %>
    </div>
    <div class="col-md-1">
      <%= @employee.paychecks.last.fwh_deduction %>
    </div>
    <div class="col-md-1">
      <%= @employee.fwh_fixed %>
    </div>
    <div class="col-md-1">
      <%= @employee.paychecks.last.swh_deduction %>
    </div>
    <div class="col-md-2">
      <%= @employee.paychecks.last.total_deductions %>
    </div>
    <div class="col-md-1">
      <%= @employee.paychecks.last.net_wages %>
    </div>
  </div>
</div>
<% end %>
<%= link_to 'Edit', edit_employee_path(@employee) %> 
<%= link_to 'Back', employees_path %>
