
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @employee.wage %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @employee.marital_status %>
</p>

<p>
  <strong>Fica:</strong>
  <%= @employee.fica %>
</p>

<p>
  <strong>Fwh:</strong>
  <%= @employee.fwh %>
</p>

<p>
  <strong>Swh:</strong>
  <%= @employee.swh %>
</p>

<p>
  <div class="col-md-12 text-center">
    <%= link_to 'Edit', edit_employee_path(@employee) %> 
  </div>
</p>

<% if @employee.paychecks.any? %>

<div class="row top-buffer">
  <div class="row last_paycheck">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h2><strong><%= "Paycheck from #{@employee.paychecks[-1].start_date} to #{@employee.paychecks[-1].start_date}" %></strong><h2>
    </div>
  </div>
  <div class="row last_paycheck">
    <div class="col-md-3 col-md-offset-3 text-right">
      <strong>Total Hours:</strong>
    </div>
    <div class="col-md-3">
      <%= "#{@employee.paychecks[-1].total_hours_worked}" %>
    </div>
  </div>
  <div class="row last_paycheck">
    <div class="col-md-3 col-md-offset-3 text-right">
      <strong>Gross Wages:</strong>
    </div>
    <div class="col-md-3">
      <%= "#{@employee.paychecks[-1].gross_wages}" %>
    </div>
  </div>

  <div class="row last_paycheck">
    <div class="row deduction-buffer">
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-right">
          FICA deduction
        </div>
        <div class="col-md-3">
          <%= "#{@employee.paychecks[-1].fica_deduction}" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-right">
          FWH deduction
        </div>
        <div class="col-md-3">
          <%= "#{@employee.paychecks[-1].fwh_deduction}" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-right">
          Additional FWH deduction: 
        </div>
        <div class="col-md-3">
          <%= "#{@employee.fwh_fixed}"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-right">
          SWH deduction: 
        </div>
        <div class="col-md-3">
          <%= "#{@employee.paychecks[-1].swh_deduction}" %>
        </div>
      </div>
  </div>

  <div class="row total_deductions">
    <div class="col-md-3 col-md-offset-3 text-right">
      <strong>Total deductions:</strong>
    </div>
    <div class="col-md-3">
      <%= "#{@employee.paychecks[-1].total_deductions}" %>
    </div>
  </div>

  <div class="row last_paycheck">
    <div class="col-md-3 col-md-offset-3 text-right">
      <strong>Net wages:</strong>
    </div>
    <div class="col-md-3">
      <%= "#{@employee.paychecks[-1].net_wages}" %>
    </div>
  </div>
</div>



<% end %>

<div class="row top-buffer">
  <div class="row text-center">
    <div class="col-md-1 col-md-offset-5">
      <%= link_to 'View Employees', employees_path %>
    </div>
    <div class="col-md-1">
      <%= link_to 'New Paycheck', new_paycheck_path %>
    </div>
  </div>
</div>